################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CadastroDeLivros/.vs/CadastroDeLivros/FileContentIndex/8f005c4f-7aa1-4eb9-8c60-c228a9d91aca.vsidx
/CadastroDeLivros/.vs/CadastroDeLivros/FileContentIndex
